.logueo {/* PARALLAX */
    height: 650px!important;
}
i.iconis {
    font-size: 1em!important;
    margin-top: 8px;
}
.login {
    border: 1px solid #FFF;
    width: 80%;
    margin: 0 auto;
    background-color: rgba(255,255,255,.7);
    padding: 20px;
}