@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 300;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.example-card {
  max-width: 400px;
}
.container {
  min-height: 100%;
}
.align-center{
  width: 100%;
  text-align: center;
}
table {
  margin-top: 20px;
  width: 100%;
}